:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(62, 91, 122);
}

td {
  border: .1rem solid black;
  height: 2rem;
  width: 2rem;
}

table {
  margin-left: 10rem;
  margin-top: -22rem;
  background-color: gray;
}

/* .filler {
  text-align: center;
  color: yellowgreen;
} */

.gameControls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

button {
  height: 2rem;
  width: 5rem;
  margin: 1rem;
  font-size: .65rem;
  font-weight: 900;
  border: .1rem solid peru;
  border-radius: 10px;
}

h1 {
  text-align: end;
  margin-right: .5rem;
  color: yellowgreen;
}

h5 {
  text-align: end;
  margin-right: 4.5rem;
  color: yellowgreen;
}

.end-game-text {
  font-size: 3rem;
  color: yellowgreen;
  text-align: center;
}